
<div class="resume-item d-flex flex-column flex-md-row mb-5">
  <div class="blog-content mr-auto">
    <h3 class="mb-0">{{ .Params.date | dateFormat "January 2006" }} - <a href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
    <div>{{ .Params.description | safeHTML }}</div>
    <p>{{ partial "techtags" . }}</p>
  </div>
  <div class="resume-date text-md-center">
    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ .Params.image }}" style="max-width:50%;padding:0px;" alt=""/>
  </div>
</div>
