{{ define "main" }}
    {{ partial "about.html" .}}

    {{ if .Site.Params.showSkills }}
        {{ partial "portfolio/skills.html" . }}
    {{ end }}

    {{ if .Site.Params.showPortfolio }}
        {{ with .Site.GetPage "section" "portfolio" }}
            {{ .Scratch.Add "sectionId" "portfolio" }}
            {{ partial "sectionSummary" . }}
        {{ end }}
    {{ end }}

    {{ if .Site.Params.showExperience }}
        {{ partial "portfolio/experience.html" . }}
    {{ end }}

    {{ if .Site.Params.showEducation }}
        {{ partial "portfolio/education.html" . }}
    {{ end }}

    {{ if .Site.Params.showBlogs }}
        {{ with .Site.GetPage "section" "blogs" }}
            {{ .Scratch.Add "sectionId" "blogs" }}
            {{ partial "sectionSummary" . }}
        {{ end }}
    {{ end }}
{{ end }}
